html,body {
	height: 100%;
} 
.margin-6 { margin:6px;}
div#list-more.margin-0 { margin:0;border-top:none;;border-left:1px solid #c6c6c6;border-right:1px solid #c6c6c6; border-bottom:1px solid #c6c6c6;}
.app-list { border-bottom: 1px solid #D4D5D6; height: 100%; }
.list-page { padding-top: 0; }
.app-list .item, .app-list .index-item, .task-list .index-item { height: 80px; border-top: 1px #d4d5d6 solid; background-color: #fafafa; position: relative; }
.app-list .index-item .btn { position: absolute; right: 7px; font-style: normal; padding: 0 12px 0 0; background: url(/images/icon27.png) no-repeat right 3px; background-size: auto 12px; color: #666; top: 22px; }
.app-list .index-item .btn.green { color: Green; }
.app-list .list_from_box { height: 87px; }
.bg_blue_color { background-color: #c5e7f9 !important; height: 67px; border-bottom: 0 !important; }
.bg_gray_color { background-color: #f5f5f5 !important; }
.bg_from_box { background-color: #f2f2f2 !important; }

.app-list .item .item-main, .app-list .index-item .index-item-main { /*	padding-right:65px;*/ color: #919498; }
/* hc2015.8.19 */
.app-list .index-item .index-item-w {
	position: relative;
	height: 100%;
}
.app-list .app-img {position: relative; display: inline-block; width: 100%;}
.app-list .app-img .dummy {margin-top: 45.33%;}
.app-list .app-img img {position: absolute; width: 100%;}
.app-list .item .item-main > a, .app-list .index-item .index-item-main > a { display: block; padding: 6px 8px 4px; min-height: 74px; }

.exchange_list .item .item-main, .app-list .index-item .index-item-main { /* padding-right:65px;*/ color: #919498; }
.exchange_list .index-item .index-item-w {
    position: relative;
    height: 100%;
}
.exchange_list .app-img {position: relative; display: inline-block; width: 100%;}
.exchange_list .app-img .dummy {margin-top: 45.33%;}
.exchange_list .app-img img {position: absolute; width: 100%;}
.exchange_list .item .item-main > a, .app-list .index-item .index-item-main > a { display: block; padding: 6px 8px 4px; min-height: 74px; }

.app-list .list_from_box .index-item-main { padding: 16px 0; padding-right: 65px; }
.app-list .sub-topic-list .index-item-main { padding: 6px 0; }
.app-list .item .item-main .item-icon, .app-list .index-item .index-item-main .item-icon, .task-list .index-item .index-item-main .item-icon { float: left; margin-left: 7px; margin-top: 15px; }
.app-list .item .item-main .item-icon img, .app-list .index-item .index-item-main .item-icon img, .task-list .index-item .index-item-main .item-icon img { width: 55px; height: 55px; background: url(../images/default.png) no-repeat scroll center center rgba(0, 0, 0, 0);border-radius:3px; box-shadow:1px 1px 4px gray;}
.app-list .item .item-main .item-title, .app-list .index-item .index-item-main .item-title { font-size: 16px; color: #45484d; padding-top: 8px; padding-bottom: 1px; }
.task-list .index-item .index-item-main .item-title { font-size: 16px; color: #45484d; padding-top: 20px; padding-bottom: 1px; }
.app-list .index-item .index-item-main .item-title--t4 {padding-top: 33px;}
.app-list .item .item-main .item-title h3, .app-list .index-item .index-item-main .item-title h3 { width: 80%; text-overflow: ellipsis; overflow: hidden; }
.app-list .item .item-main .item-title h3.sname-incompatible, .app-list .index-item .index-item-main .item-title h3.sname-incompatible { width: 44%; }
.app-list .index-item .index-item-main dd, .task-list .index-item .index-item-main dd { padding-left:70px; padding-right:6px; }
.app-list .item .item-main .item-incompatible, .app-list .index-item .index-item-main .item-incompatible { color: #f55; background-position: -260px -438px; padding: 0 1px 0 15px; }
.app-list .item .item-main .item-size, .app-list .item .item-main .item-incompatible, .app-list .item .item-main .item-downnum, .app-list .index-item .index-item-main .item-size, .app-list .index-item .index-item-main .item-incompatible, .app-list .index-item .index-item-main .item-downnum { color: #919498; font-size: 14px; }
.app-list .item .item-main dd { padding-left: 66px; padding-right: 6px; line-height: 23px; white-space: nowrap; }
.item-title-sname { display: inline-block; font-size: 16px; text-overflow: ellipsis;white-space:nowrap; overflow: hidden; height: 18px; line-height: 18px; }
.item-title-sname div { font-size: 16px;}
.index-item-main .item-alias { color: #919498; font-size: 12px; }
.index-item-main .item-alias .alias-name { text-overflow: ellipsis; overflow: hidden; display: inline-block; vertical-align: top; max-width: 50%; font-weight: 700; }
.index-item-main .item-star { font-size: 12px; height: 17px; }

.task-list {padding: 15px;}
.task-list dl {position: relative; height: 60px;}
.task-list dt {float: left; }
.task-list dt img { width: 55px; height: 55px; margin-right: 10px; background: url(../images/default.png) no-repeat scroll center center rgba(0, 0, 0, 0);border-radius:3px; box-shadow:1px 1px 4px gray;}
.task-list dd span {height:45px; line-height: 47px; font-size: 14px; color: #5d5d5d;}

#show-more, #list-more { height: 53px; border-bottom: 1px solid #d4d5d6; background: #fafafa; line-height: 53px; color: #45484d; font-weight: 700; font-size: 18px; text-align: center; display: none; }
.list-more-icon { display: inline-block; background-position: -196px -565px; width: 25px; height: 25px; margin: 0 5px -5px 0; }
#list-more.another { display: block; border: 1px solid #c6c6c6; border-radius: 0 0 3px 3px; background-color: #fff; position: relative; z-index: 99; margin: -10px 5px 5px 5px; }
.content-page { position: relative; z-index: 98; }

/* hc 2015.8.19 */
.h-pt {
	padding-top: 0.5rem;
	border: 0;
	overflow: hidden;
}
.app-list .item, .app-list .h-list-item {
	float: left; border:0; width: 48%; height: auto; margin: 1%;overflow: hidden; 
}
.exchange_list .item, .exchange_list .h-list-item {
    float: left; border:1px solid lightgray; width: 47%; height: auto; margin: 1%;overflow: hidden; 
}

.canvas-mask {
	display: none;
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 110px;
    background-color: rgba(0, 0, 0, 0.41);
    text-align: center;
}
.canvas-mask canvas {
	margin-top: 5%;
}

/* bella 2015.9.13 */

.setWifi{
	width: 130px;
	position: absolute;
	right: 5px;
	background: #F9F9F9;
	z-index: 1000;
	border-bottom: 1px solid #EFF1F5;
	border-right: 1px solid #EFF1F5;
}
.setWifi li{
	border-top: 1px solid #EFF1F5;
	border-left: 1px solid #EFF1F5;
	line-height: 30px;
	box-sizing:border-box;
	padding: 0 10px;
}
.setWifi li img{
	width: 12px;
}
.setWifi li a{
	font-size: 12px;
	color: #68686C;
	font-weight: 500;
	padding: 0 10px;
}
.setWifi li:hover a{
	color: #1962D3;
}

.recomWifi{
	width: 100%;
	padding: 10px;
	box-sizing:border-box;
	border-bottom: 1px solid #ECECEA;
}
.recomWifi .recomWifi_img{
	height: 60px;
	float: left;
}
.recomWifi .recomWifi_txt{
    padding-top: 10px;
    position: absolute;
    left: 80px;
}
.recomWifi .recomWifi_txt h2{
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
}
.recomWifi .recomWifi_txt .recomWifi_txtspan{
	background: #2268D3;
	color: #fff;
	font-size: 14px;
	padding: 2px 5px;
    line-height: 30px;
}
.recomWifi .recomWifi_btn{
	
}
.wifiSlider {
	float: right;
}
.wifiSlider .ui-slider-track .ui-btn.ui-slider-handle {
	border-radius: 50%;
}
.wifiSlider .ui-slider-track.ui-mini {
	border-radius: 50px;
}

.freeWifi{
	width: 100%;

}
.freeWifi .freeWifi_title{
	width: 100%;
	background: #E3E0E1;
	font-size: 14px;
	padding: 0 10px;
	line-height: 30px;
	display: block;
	box-sizing:border-box;
}
.freeWifi .freeWifi_box{
	width: 100%;
	padding: 15px;
}
.freeWifi .freeWifi_box li{
	line-height: 25px;
	cursor:pointer;
	    margin: 10px 0;
}
.freeWifi .freeWifi_box li .wifi-icon {
	width: 20px;
}
.freeWifi .freeWifi_box li a{
	font-size: 12px;
	color: #68686C;
	padding: 0 10px 0 20px;
}
.freeWifi .freeWifi_box li:hover a{
	color: #1962D3;
}


.annexWifi{
	width: 100%;

}
.annexWifi .annexWifi_title{
	width: 100%;
	background: #E3E0E1;
	font-size: 14px;
	padding: 0 10px;
	line-height: 30px;
	display: block;
	box-sizing:border-box;
}
.annexWifi .annexWifi_box{
	width: 100%;
	padding: 15px;
}
.annexWifi .annexWifi_box li{
	line-height: 25px;
	cursor:pointer;
	    margin: 10px 0;
}
.annexWifi .annexWifi_box li .wifi-icon {
	width: 20px;
}
.annexWifi .annexWifi_box li a{
	font-size: 12px;
	color: #68686C;
	padding: 0 10px 0 20px;
}
.annexWifi .annexWifi_box li:hover a{
	color: #1962D3;
}
/* guide mask style */
.mask-c p {
	color: #fff;
	font-weight: bold;
	font-family: "微软雅黑";
	font-size: 16px;
	letter-spacing: 2px;
}
.tl-h,
.dc-h{
	position: absolute;
	font-size: 18px;
}
.tl-h {
	width: 100%;
	top: 0;
	left: 0;
}
.tl-h img {
	float: left;
	margin-left: -10px;
	margin-top: 10px;
}
.tl-h p {
	float: left;
	padding-top: 100px;
	margin-left: -20px;
}
.dc-h {
	width: 100%;
	bottom: 25px;
	text-align: center;
}