@charset "utf-8";
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, textarea, select, optgroup, option, fieldset, legend, p, blockquote, th, td { margin: 0; padding: 0; font-size: 14px; /*	-webkit-tap-highlight-color:rgba(0,0,0,0); 	-webkit-user-select:none; 	-webkit-touch-callout:none;*/ font-family: Helvetica,STHeiti,Droid Sans Fallback; }
.text_overflow {white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow:hidden; }
a { text-decoration:none;} 
body{-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none;-khtml-user-select:none;user-select:none;}
.hide {display: none;}
.goBack {height: 12px;}
.ui-content {padding: 0;}
.ui-page-theme-a .ui-btn {background-color: #f0f0f0; color: #555; }
.ui-page-theme-a .ui-btn.ui-btn-active {background-color: #f0f0f0; color: #38E; text-shadow:none; }


.account-wrapper { padding:15px; padding-top: 0;}

#loginBtn {width: 35%; float:right; margin-top:10px; background-color: #FF8800; color: white; text-shadow:0 0 0;}
#registBtn {background-color: #FF8800; color: white; text-shadow:0 0 0; border-radius: 6px; }
#toRegistBtn {width: 35%; float:left; margin-top:10px; }
.verifyCodeBtn {width: 70%; float: right; margin-top: 20px; }
#LoginPage .changePwdBtn {float: right; padding-top: 20px; }
#LoginPage .licenseLink {margin-top: 120px; }
.licenseLink p {font-size: 13px; color: gray; }
.licenseLink a {font-size: 13px; color: #38E; }
.licenseWrapper {padding-top: 10px;color:#2e2e2e;}
.licenseWrapper section {margin: 15px; font-size:14px;}
.licenseWrapper h1 {color:#2e2e2e; font-size:24px; text-align: center; font-weight:100;}
.licenseWrapper h2 {font-size:16px; margin: 30px 0 20px; font-weight:100;}
.licenseWrapper p {color:#2e2e2e;}

#connectionView .user_signin {padding-top: 5px; padding-left: 5px; color: #38E; font-weight: bold; }
#connectionView .message_grid {padding-top: 10px; color: gray; min-height: 50px; }
#connectionView .message_grid img {width: 18px; height: 18px; margin-left: 10px; }
#connectWifiBtn {background-color: #38E; color: white; text-align: center; border-radius: 6px; width: 80%; height: 25px; line-height: 25px; font-size: 14px; border: 0; text-shadow:0 0 0;}
.connection_bg {height: 230px; background: url(../images/night.png) no-repeat; background-size: contain;}
.wifiStatus {height: 100%; min-height: 500px; }
.wifiStatus img {margin-top: 20px; width: 250px; height: 250px; }
.wifiStatus div.statusOn, #statusDesc {width: 100%; color: #38E; text-shadow:0 0 0; border-width:0; padding-top: 5px;}

.text_disabled {color:gray;}

.wifiList .lock-icon {position: absolute; right: 20px; width: 10px;}
.recomWifi_txtspan {background: #38E; color: white; position: absolute; right: 20px; width: 40px; border-radius: 3px; text-shadow: 0 0 0; text-align: center;;}

.modalViewTitle {text-align:center; color: #38E; font-size: 22px; padding-top: 30px; padding-bottom: 20px; }
.modalViewText  {text-align:center; color: black; font-size: 16px; }
.modalViewBigText {text-align: center; color: red; font-size: 40px; }
#close_dialog_btn {font-size: 16px; color: black; border-radius: 6px; color: white; background-color: #FF8800; text-shadow:0 0 0; width: 70%; left: 10%; }


.refresh-app-list {margin-top: 150px; }
#choiceView .ui-tabs-content {margin-top: 0; }
#choiceView .ui-header {border: 0;}
#choiceView .ui-header .ui-navbar .ui-btn {font-size: 16px; border: 0; }

.app-list .coin_icon {position: absolute; width: 20px; top:30px; right: 75px;}
.app-list .coin_num { position: absolute; width: 55px; bottom: 10px; right: 10px; padding-left: 16px; color: #4d4d4d; font-size: 12px; background: url("../images/coins.png") no-repeat left center; background-size: 14px; }
.app-list .coin_num span { color: #ff8800; vertical-align: bottom; }
.app-list .installBtn { position: absolute; width: 65px; height: 45px; line-height: 25px; top: 0; right: 0; background: url("../images/app_download.png") no-repeat 50% 25%; background-size: 25px; border-radius: 0; border: 0; border-left: 1px solid #ccc; }
.app-list .reward { padding-left: 6px; color: red; }
.app-list .installBtn.inactive { background: transparent; }
.app-list .installBtn.manageTab { background: transparent; }
.app-list .bigLogo-instBtn { /*width: 100%; height: 100%;*/ width: 50px; height: 24px; padding: 0; margin-top: 0; top: auto; bottom: -5px; border-radius: 3px; background: #0A94D7; font: 300 12px/24px 'STHeiti'; color:#fff; text-align: center; letter-spacing: 1px; }
.app-list li .bigLogo-instBtn:hover { background: rgba(0,0,0,0.5); }
.app-list .h.baiying-name {font-size: 16px;height: 22px;padding-top: 2px;}
.app-list .app-down-des { text-align: left; padding: 0; margin-top: 5px; color: #0A94D7; background: url("../images/coins.png") no-repeat 60px 40%; background-size: 14px; border: 0; font: 100 12px '微软雅黑'; }
.app-list .bigLogo-instBtn.inactive { background: #ccc; color:#fff; }
.app-list .hasInstalled.bigLogo-instBtn.inactive { background: rgb(245,149,13); text-align: center; letter-spacing: 1px; font-weight: normal; font-family: '微软雅黑'; }
.app-list .hasInstalled + .down-symbol--t1 { position: absolute; top: 0; right: 0; width: 40px; height: 40px; background: transparent url("../images/down-icon.png") no-repeat center; }
.app-list .installBtn.inactive canvas {
/*    border-radius: 50%;
    background: rgba(0,0,0,0.6);
    padding: 1%;*/
}
.app-list .bigLogo-instBtn.inactive canvas{ background: none; }
.app-list .installBtn.inactive span { border-radius: 10px; font-size: 14px; background: #bebebe; color: #fff; display: inline-block; padding: 3px 5px 1px 6px; margin-top: 10px; text-shadow: none; }

.app-list .installBtn.inactive.hasInstalled span { background: rgb(245,149,13); color: #fff; }

.app-list .installBtn.app-downing--t3 { background: #fff; }
#tab-1 .app-list .installBtn {background-image: none; text-shadow:none; border: none; }
#tab-4 .app-list li {overflow: hidden;}
#tab-4 .app-list .downloading h5, #tab-4 .app-list .hasDownloaded h5, #tab-4 .app-list .hasInstalled h5 { background: #f2f2f2; padding: 7px 0 5px 10px; font-weight: bold; color: #000; border-style:solid; border-top: 1px solid #ccc; }
#tab-4 .app-list .installBtn.inactive span { display: inline-block; padding: 3px 5px 1px 6px;margin-top: 10px;text-shadow:none;}
.appDetail .intro {/*height: 100px;*/ overflow: hidden;}
.appDetail .icon-brief {width: 70%; float: left; }
.appDetail .icon-brief .icon {width: 25%;}
.appDetail .icon-brief .icon img {width: 100%;}
.appDetail .content-brief {width: 70%; }
.appDetail .down-area {width: 30%; height: 100% ;float: right; }
.appDetail .swiper-wrapper {/*float: top;*/}
.appDetail .des-long-content {/*position: absolute; top: 430px; */}

.avatar_bg {position: relative; height: 55px; overflow: hidden;}
.avatar_bg img {width: 100%; }
.avatar_bg span {    position: absolute; z-index: 2; color: #fff; top: 50%; margin-top: -18px; height: 36px; line-height: 36px;  display: block; width: 100%; text-align: center; font-size: 20px;}
.acount_list {padding: 10px; }
.account_item {font-size: 16px; }
.acount_list img {width: 25px; height: 25px; float: left; }
#mineView dl {position: relative;overflow: hidden; }
#mineView dl  i{position: absolute; width: 14px; height: 24px; top:50%; margin-top:-12px; right:0;  background: url(../images/arrow-right.png) no-repeat; background-size: contain;}
#mineView dt {float: left; /*height: 30px;*/ height: 45px; line-height: 45px; margin-right: 25px; padding-left: 5px;}
#mineView dd {right: 10px; text-align: right; /*height: 30px; *//*padding-top: 10px;*/ }
#mineView dt div { font-size: 18px; color: #45484d; float: right; padding-left: 5px; }
#mineView dd div, #mineView dd a { font-size: 18px; color: #999; width: 100%;}
#logoutBtn {background-color: #FF4952; border-radius: 12px; letter-spacing: 2px; text-shadow: 0 0 0; color: white; }

#mineView dt img {width: 28px; vertical-align: middle;}
#mineView dd {text-align: left;}

#mineView .account_w {display: inline-block; width: 50%;}
#mineView .nick_name { font-size: 24px; font-weight: bold; width: 65%; height: 25px; line-height: 25px; display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;} 
#mineView .acount_list {border-bottom: 1px #d4d5d6 solid; padding-left: 0; padding-top: 0;}
#mineView .acount_list dt {height: 80px; margin-right: 15px; padding-left: 0;}
#mineView .acount_list dt img{width:70px; height:70px;}
#mineView .acount_list dd {text-align:left; line-height: 20px; height: 20px; padding-top: 8px;}
/*#mineView .acount_list dt dd {}*/
#mineView .acount_list dt + dd  {padding-top: 13px;}
/*#mineView .acount_list dt + dd + dd > span{padding-left: 5px;color: #666;}*/
#mineView .acount_list .account_item  span {padding-left:5px; color: #666;}

#mineView .account_coin {padding-top: 15px;}
#mineView .account_coin dt {padding-left: 25px; height: 85px; margin-right: 30px;}
#mineView .account_coin dt img {width: 70px; height: 70px;}
#mineView .account_coin dd {text-align:left; padding-top: 5px;}
#mineView .account_coin dd div:first-child {padding-left: 5px; font-size: 14px;}
#mineView .account_coin dd div:first-child + div {font-size:45px; height: 45px; line-height: 40px; font-weight: bold; color: #ff8800;}

#mineView .account_passModify dd div,#mineView .account_feedback dd div,#mineView .account_socialShare dd div,#mineView .account_help dd div,#mineView .account_version dd div {height:45px; line-height: 47px; font-size: 16px; font-weight:bold; color: #5d5d5d;}
#mineView .account_passModify dd,#mineView .account_feedback dd,#mineView .account_socialShare dd,#mineView .account_help dd,#mineView .account_version dd {height:45px; line-height:55px; }
#mineView #version {position: absolute; text-align:right; height: 24px; top:0; color: #999; right:0; background-size: contain;}
.exchange_list {padding: 10px; }
.exchange_item {font-size: 16px; }
.exchange_list dt {float: left; height: 30px; padding-top: 10px; }
.exchange_list dd {right: 10px; text-align: right; height: 30px; padding-top: 10px; border-bottom: 1px #d4d5d6 solid; }
.exchange_list dt div { font-size: 18px; color: #45484d; float: right; padding-left: 5px; }
.exchange_list dd div, .exchange_list dd a { font-size: 18px; color: #999; width: 100%;}


.ui-footer .ui-navbar .ui-btn {font-size: 14px; color: gray; }
.ui-footer .ui-navbar .ui-btn.ui-btn-active {background-color: #f6f6f6; font-size: 14px; color: #38E; text-shadow:0 0 0 ;}

.ui-icon-choice:after {background: url(../images/tab_choice.png) no-repeat; background-size:22px,22px; border-radius: 0; background-position: center; height: 25px; }
.ui-icon-mine:after {background: url(../images/tab_mine.png) no-repeat; background-size:22px,22px; border-radius: 0; background-position: center; height: 25px; }
.ui-icon-wifi:after {background: url(../images/tab_wifi.png) no-repeat; background-size:22px,22px; border-radius: 0; background-position: center; height: 25px; }
.ui-btn-active.ui-icon-choice:after {background: url(../images/tab_choice_active.png) no-repeat; background-size:22px,22px; border-radius: 0; background-position: center; height: 25px; }
.ui-btn-active.ui-icon-mine:after {background: url(../images/tab_mine_active.png) no-repeat; background-size:22px,22px; border-radius: 0; background-position: center; height: 25px; }
.ui-btn-active.ui-icon-wifi:after {background: url(../images/tab_wifi_active.png) no-repeat; background-size:22px,22px; border-radius: 0; background-position: center; height: 25px; }

.exchangeHeader {height: 70px; margin: 10px; box-shadow: 0 1px 1px rgba(0,0,0,0.5);}
.exchangeHeader .coinIcon {float: left; width: 30%; padding: 10px; }
.exchangeHeader .coin_desc {color: gray; }
.exchangeHeader .coin_num {font-size: 30px; color: #45484d; }

.comboSprite li a {border-left-width:0; border-right-width:0; }

a { text-decoration: none; }
li { list-style: none; }

/*广告条*/
.fouce { width: 100%; position: relative; height: 167px; display:none; }
.fouce .img_box { overflow: hidden; width: 320px; height: 167px; margin: 0 auto; }
.fouce .img_box ul { overflow: hidden; }
.fouce .img_box ul li { float: left; width: 320px; height: 167px; }
.fouce .img_box ul li img { display: block; width: 100%; height:100%; background: url(../images/default-slidericon.png) no-repeat scroll center center rgba(0, 0, 0, 0); background-size:100% 100%; margin: 0 auto;}
.fouce ol { position: absolute; right: 8px; bottom: 8px; height: 16px; -webkit-border-radius: 8px; border-radius: 8px; background-color: rgba(255,255,255,0); -webkit-box-shadow: inset 0 0 1px 1px rgba(230,230,230,.09); box-shadow: inset 0 0 1px 1px rgba(230,230,230,.09); background: #a7a6a7; padding: 0 6px; }
.fouce ol li { width: 8px; height: 8px; -webkit-border-radius: 4px; border-radius: 4px; background-color: white; -webkit-box-shadow: 0 1px 1px rgba(255,255,255,.31); box-shadow: 0 1px 1px rgba(255,255,255,.31); float: left; margin: 4px 2px 0; }
.fouce ol .cur { -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.31), inset 0 0 2px rgba(133,200,234,.6); box-shadow: 0 1px 1px rgba(0,0,0,.31), inset 0 0 2px rgba(133,200,234,.6); background-image: -webkit-linear-gradient(bottom, #2ca0dc, #77c2e8); background-image: linear-gradient(to top, #2ca0dc, #77c2e8);}
.score-star { background: url(../images/star.png); width: 65px; line-height: 14px; height: 14px; background-position: 0 0; display: inline-block; background-size: 65px 15px; vertical-align: middle; margin:1px 0 0;}
.score-star span { background: url(../images/stat5.png); height: 14px; display: inline-block; background-position: 0 0; padding: 0 !important; background-size: 65px 15px; }

.swiper-container { width: 100%; height: 300px; }
.swiper-slide { /*transition: all 1.5s ease;*/ }
.swiper-slide img { width: 100%; height: 95%; }
/*[2015-9-26]*/
.swiper-container.larger { position: fixed; top: 0; padding-top: 5%; background: rgba(0,0,0,0.6); height: 98%;  }
.swiper-container.larger .swiper-slide { padding: 0 5%; box-sizing: border-box;  }
/*[2015-10-27]*/
.questions-area {
    padding: 3% 5%;
}
.questions-area textarea {

}
#feedback-submit-btn {
    margin: 0 5%;
    border-radius: 8px;
    letter-spacing: 30px;
    text-indent: 30px;
    text-align: center;
    font-weight: normal;
    color: #fff;
    background-color: #FF8800;
    text-shadow: 0 0 0;
}
/* [2015-11-17] */
#mineView dd a.moreCoinLink {
    position: relative;
    float: left;
    padding: 3px 0 10px 0;
    color: #999999;
    font-size: 14px;
    text-decoration: underline;
}
.moreCoinLink:before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 0;
    border-top: 1px solid #ccc;
}